# 1.0 Intro to the Healthcare Provider Fraud Detection

`Author: James Smith`

`Date of Creation: 21/03/2020`

`Programming for Big Data: Assignment 2`

`Overview: The purpose of this notebook is to understand the several Healthcare datasets, and do some initial exploration in order to inform how we may want to join to create one dataset.`

These datasets were found on [Kaggle](https://www.kaggle.com/rohitrox/healthcare-provider-fraud-detection-analysis).

![Kaggle](img/Kaggle.png)

From the Kaggle webpage

> Provider Fraud is one of the biggest problems facing Medicare. According to the government, the total Medicare spending increased exponentially due to frauds in Medicare claims. Healthcare fraud is an organized crime which involves peers of providers, physicians, beneficiaries acting together to make fraud claims.

> For the purpose of this project, we are considering Inpatient claims, Outpatient claims and Beneficiary details of each provider.

> **Inpatient Data:** This data provides insights about the claims filed for those patients who are admitted in the hospitals. It also provides additional details like their admission and discharge dates and admit d diagnosis code.

> **Outpatient Data:** This data provides details about the claims filed for those patients who visit hospitals and not admitted in it.

> **Beneficiary Details Data:** This data contains beneficiary KYC details like health conditions or region they belong to etc.

There are eight spearate csv files to download for this project.

![datasets](img/datasets.png)

After looking at the tables, there are a few points to note.

- Only tables prefixed with "Train" can be used since we do not have access to the test labels.
- Inpatient and Outpatient datasets seem very familiar, perhaps we can merge them together and then create a label indicating it's origin.

**Let's load the data to figure out how to join the tables together**

# Load Datasets

In [1]:
# For working with directories
import os
# Finds pathnames matching a specified pattern
import glob
# For data analysis and manipulation
import pandas as pd
# Linear algebra
import numpy as np

## Get lists of csv files in data folder

In [3]:
# Define working directory
path = os.getcwd()

# Define parent/project directory
project_directory = os.path.abspath(os.path.join(path, os.pardir))

# Define data directory - relative to project folder
data_folder_path = os.path.join(project_directory, "data", "raw")

# Find all csv files in data folder
all_csv_file_paths = glob.glob(data_folder_path + "/*.csv")
print(all_csv_file_paths[:2])

['C:\\Users\\User\\Documents\\ITB Year 2\\Programming for Big Data\\Assignments\\Assignment 2\\github\\Healthcare-Fraud\\data\\raw\\Test-1542969243754.csv', 'C:\\Users\\User\\Documents\\ITB Year 2\\Programming for Big Data\\Assignments\\Assignment 2\\github\\Healthcare-Fraud\\data\\raw\\Test_Beneficiarydata-1542969243754.csv']

## Load only training datafiles into a dictionary

In [4]:
datasets = {}

for csv_file in all_csv_file_paths:
    
    # os.path.basename() gives just the file name
    filename = os.path.basename(csv_file)
    
    # only load training tables
    if "train" in filename.lower():
        print("Loading data from the table {}".format(filename))
        df = pd.read_csv(csv_file)
        print("It contains {} rows and {} columns".format(df.shape[0], df.shape[1]))
        datasets[filename] = df

# Extract dataframes from dictionary
provider_df = datasets["Train-1542865627584.csv"]
beneficiary_df = datasets["Train_Beneficiarydata-1542865627584.csv"]
inpatient_df = datasets["Train_Inpatientdata-1542865627584.csv"]
outpatient_df = datasets["Train_Outpatientdata-1542865627584.csv"]

print("Datasets are now loaded")

# Delete dictionary
del datasets

Loading data from the table Train-1542865627584.csv
It contains 5410 rows and 2 columns
Loading data from the table Train_Beneficiarydata-1542865627584.csv
It contains 138556 rows and 25 columns
Loading data from the table Train_Inpatientdata-1542865627584.csv
It contains 40474 rows and 30 columns
Loading data from the table Train_Outpatientdata-1542865627584.csv
It contains 517737 rows and 27 columns
Datasets are now loaded

Now we have our 4 tables loaded as csv. Time to take a look at them

# Explore Datasets

We will now quickly look at table and see what they look like and understand if we can join them all together to make one table.

View first 5 rows of each table

In [5]:
provider_df.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [6]:
beneficiary_df.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [7]:
inpatient_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [8]:
outpatient_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

`inpatient_df` has 30 columns, `outpatient_df` has 27 columns. What columns are in the inpatient data that doesn't exist in the outpatient data?

In [9]:
# convert to set so we can subtract
inpatient_specific_columns = list(set(list(inpatient_df.columns)) - set(list(outpatient_df.columns)))
inpatient_specific_columns

['AdmissionDt', 'DischargeDt', 'DiagnosisGroupCode']

We would like to join these two tables together, so might have to remove these columns, but create one to flag whether they were inpatient or not.

## Investigating primary keys in tables

Next we will confirm that ClaimID is the primary key of the patient tables and BeneID is the primary key of the beneficiary table

In [10]:
print("There are {} rows in 'inpatient_df' with {} unique ClaimID's".format(inpatient_df.shape[0], len(inpatient_df["ClaimID"].unique())))
print("There are {} rows in 'outpatient_df' with {} unique ClaimID's".format(outpatient_df.shape[0], len(outpatient_df["ClaimID"].unique())))
print("There are {} rows in 'beneficiary_df' with {} unique BeneID's".format(beneficiary_df.shape[0], len(beneficiary_df["BeneID"].unique())))

There are 40474 rows in 'inpatient_df' with 40474 unique ClaimID's
There are 517737 rows in 'outpatient_df' with 517737 unique ClaimID's
There are 138556 rows in 'beneficiary_df' with 138556 unique BeneID's

Looks like we can start joining!

## Data Model

Below is a picture of what the data model currently looks like. Note that we will combine inpatient and outpatient data in order to have one table to join tables to.

![Data Model](img/Data_Model.PNG)

# Join Datasets

## Append inpatient and outpatient data

We will now remove columns that aren't common to both table and create a common column that identifies whether they were in inpatient or outpatient (1 - inpatient).

In [11]:
# From earlier
inpatient_df = inpatient_df.drop(inpatient_specific_columns, axis = 1)

# Test again
inpatient_specific_columns = list(set(list(inpatient_df.columns)) - set(list(outpatient_df.columns)))
inpatient_specific_columns

[]

In [13]:
inpatient_df["inpatient_status"] = 0
outpatient_df["inpatient_status"] = 1

patient_df = inpatient_df.append(outpatient_df, ignore_index = True,
                                sort = False)

print("patient_df contains {} rows and {} columns".format(patient_df.shape[0], patient_df.shape[1]))

patient_df contains 558211 rows and 28 columns

## Join patient and beneficiary data

Join on BeneID

In [14]:
patient_bene_df = pd.merge(patient_df, beneficiary_df, on = "BeneID")
print("patient_bene_df contains {} rows and {} columns".format(patient_bene_df.shape[0], patient_bene_df.shape[1]))

patient_bene_df contains 558211 rows and 52 columns

## Join patient/beneficiary and provider data

Join on Provider

In [15]:
full_df = pd.merge(patient_bene_df, provider_df, on = "Provider")
print("full_df contains {} rows and {} columns".format(full_df.shape[0], full_df.shape[1]))
full_df.head()

full_df contains 558211 rows and 53 columns

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,7866,...,1,1,2,1,1,36000,3204,60,70,Yes
1,BENE16973,CLM565430,2009-09-06,2009-09-06,PRV55912,50,PHY365867,PHY327147,NaN,NaN,...,2,1,2,2,2,24000,2136,450,200,Yes
2,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,45340,...,2,1,2,2,2,19000,1068,100,20,Yes
3,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,V5789,...,2,1,1,2,2,17000,1068,1050,540,Yes
4,BENE22934,CLM73394,2009-10-25,2009-10-29,PRV55912,13000,PHY390614,PHY323689,PHY363291,71946,...,1,1,1,1,2,27000,2136,450,160,Yes

The table `full_df` now contains
- patient claim details
- beneficiary details
- a label of whether of not their provider was potentially fraudulent

# Saving the final table

We now have 1 table containing all the information we'll need. We can now write it to a location as a csv.

In [16]:
# project_directory and data_folder are defined earlier
dataset_name = "1.0_joined_dataset"
processed_data_folder_path = os.path.join(project_directory,
                                          "data", "processed", 
                                          dataset_name)

# Write as csv - takes time
full_df.to_csv(processed_data_folder_path + ".csv")